<% provide(:title, "About") %>
<head>
  <title><%= yield(:title) %> |</title>
</head>
<body>
  <h1>This is a University Assignment. This website is temporary and will be removed afterward. No copyright infringement intended</h1>
  
</body>
