<% provide(:title, "Home") %>
<head>
  <title><%= yield(:title) %></title>
</head>

<div class="row">
  <aside class="col-md-4">
  </aside>
  <div class="col-md-8">
    <h3>Article Feed</h3>
    
    
    <% @articles.each do |article| %>
    <li class="articles">
      <span class="user"><%= link_to article.user.username %></span>
      <span class="content"><b><%= article.title %></b></span>
      <span class="content"><%= article.post %></span>
      <!--%= image_tag article.picture.url if article.picture? %>-->
      <!--<span class="timestamp">-->
        <h9>Posted <%= time_ago_in_words(article.created_at) %> ago.</h9>
      </span>
      <span><%= link_to 'Add Comment', article %></span>
      <% end %>
    </li>
  </div>
</div>