<h1>C9 User Activation Email</h1>

<p>Hi <%= @user.username %>,</p>

<p>
Welcome to the C9! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>