<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @article.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
  <%= f.label :username %> <br />
  <%= f.text_field :commenter %>
</p>
<p>
  <%= f.label :Comment %> <br />
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
