<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        
        <%= @user.username %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.articles.any? %>
    <h3>Articles (<%= @user.articles.count %>)</h3>
    <ol class="articles">
      <%= render @articles %>
    </ol>
    <%= will_paginate @articles %>
    <% end %>
  </div>
  
</div>