<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.username %></h1>
<span><%= link "view my profile", current_user %></span>
<span><%= pluralize(current_user.articles.count, "micropost") %></span>